*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
} 

.indexPage{
  background-color: rgb(213, 243, 149);
  color: #333;
}

.homePage{
  background-color: rgb(196, 252, 255);
  margin: 5rem;
}
.calculator {
    width: 200px;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    font-size: 20px;
    margin: 6px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7px;
  }
  
  button {
    padding: 5px;
    font-size: 20px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ddd;
  }
  
  .btn-click{
    color:black ;
    border-radius: 20px;
    margin: 1rem 2rem 0rem 70rem;
    width: 8rem;
    border: 1px solid black;
  }
  
  .dark-mode{
    background-color: black;
    color: white;
  }
  
  .pink-mode{
    background-color: pink;
    color: black;
  }
  
  body.dark-mode {
    background-color: black;
    color: white;
  }
  
  body.pink-mode {
    background-color: pink;
    color: black;
  }
  
  .mainHome{
    text-align: center;
  }
  