*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: rgb(213, 243, 149);
} 


.calculator {
    width: 200px;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  #light-theme{
    display: flex;
    margin: 1rem 65rem;
  }

  .display {
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    font-size: 20px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    padding: 5px;
    font-size: 20px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ddd;
  }
  
  body {
    background-color: #f8f8f8;
    color: #333;
  }
  
  .btn-click{
    color:black ;
    border-radius: 30px;
  }
  
  .dark-mode{
    background-color: black;
    color: white;
  }
  
  .pink-mode{
    background-color: pink;
    color: black;
  }
  
  
  